input{
  margin-left: 40px;
  width: 200px;
  height: 30px;
  font-family: 'Lucida Sans';
  font-size: 18px;
  color: rgb(42, 41, 41);
}

.contenido_filtro{
  width: 200px;
  margin-left: 40px;
  margin-top: 0%;
  background: rgba(149, 142, 142, 0.507);
  color: black;
  float: left;
}

.contenido_filtro ul li{
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
  font-size:15px ;
  font-family: 'Lucida Sans';
}

.contenido_filtro a{
 text-decoration: none;
 color: aliceblue;
}

.contenido_filtro a:hover{  
   color: green;
}

.contenido_Calificaciones{
  margin-left: 30px;
  width: 600px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  display:none;
}
.calificacion_examen {
   height: 80px;
   width: 150px;
   margin-top: 20px;
   margin-left: 32px;
   background-color: rgb(138, 133, 133); 
   border-radius: 10px;
}
.calificacion_examen h6{
  color: antiquewhite;
   font-size: 20px;
   text-align: center;
   margin-top: 10px;
}

.contenido_Calificaciones h1{
   margin-top: 20px;
   margin-left: 10px;
   color: rgb(58, 60, 61);
   font-family: 'Lucida Sans';
   text-align: center;
}

.cerrar{
    position: absolute;
    top: -4rem;
    right: 1.4rem;
    font-size: 4.2rem;
    transform: rotate(45deg);
    cursor: pointer;
}
