
h1{
 font-size: 40px;
 margin-top: 30px;
 margin-left: 50px;
}

.buton{
  float: right;
  margin-right: 30px;
  background-color: black;
  color: aliceblue;
  width: 130px;
  height: 50px;

}

.buton:hover{
  background-color: rgb(83, 81, 81);
}

#listaExamenes{
  margin-top: 90px;
 margin-left: 200px;
 background-color: rgb(216, 212, 208);
 width: 820px;
}

#listaExamenes ul{
  list-style-type: none;
  display: block;
}
#listaExamenes li{
  direction: initial;
   padding: 10px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}
#listaExamenes img{
  margin-left: 8px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#listaExamenes a{
  text-decoration: none;
  font-size: 25px;
  color: rgb(61, 59, 59);
}

.globalModel{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.cerrar{
    position: absolute;
    top: 15rem;
    right: 24rem;
    font-size: 4.2rem;
    transform: rotate(45deg);
    cursor: pointer;
}

#seleccionaForma{
  background-color: rgb(243, 248, 253);
  width: 600px;
  display: flex;
  flex-direction: initial;
  border-radius: 20px;
}

#seleccionaForma img:hover{
  filter: opacity(.5);
}


#seleccionaCategoria{
  background-color: rgb(230, 230, 230);
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

#seleccionaCategoria ul{
  list-style-type: none;
  display: block;
}
#seleccionaCategoria li{
  font-size: 20px;
  direction: initial;
   padding: 13px 10px;
   margin-left: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}

#seleccionaCategoria h4{
  text-align: center;
  font-size: 25px;
  color: rgb(120, 126, 126);
}

#seleccionaCategoria button{
  background-color: rgb(27, 26, 26);
  color: azure;
  height: 30px;
}
#nPreguntas{
  background-color: rgb(230, 230, 230);
  width: 600px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  display: none;
}

#nPreguntas input{
  width: 50px;
  height: 30px;
  margin-right: 20px;
}
#nPreguntas h4{
  font-size: 25px;
  text-align: center;
  margin-left: 135px;
  color: black;
  font-family: 'Lucida Sans';
  margin-top: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}
#nPreguntas h5{
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(36, 30, 30);
  font-family: 'Lucida Sans';
  font-size: 20px;
}
#nPreguntas button{
  float: left;
  margin-left: 200px;
  background-color: black;
  width: 80px;
  height: 30px;
  color: beige;
}
#listaExamenes a{
  font-size: 19px;
}

#listaExamenes  h4{
  float: right;
  color:rgb(100, 97, 97);
   font-size: 18px;
}

.Eliminar{
 padding: 5px 5px;
 float: right;
}

#Categoria-preguntas{
   background-color:  rgb(230, 230, 230);
   width: 800px;
   padding: 10px 10px;
   display: flex;
  flex-direction: column;
  display: none;
}

#Categoria-preguntas h4{
  text-align: center;
  color: rgb(78, 31, 31);
  font-family: 'Lucida Sans'; 
  font-size: 28px; 
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}

#Categoria-preguntas  li{
   font-size: 20px;
   color: rgb(5, 5, 5);
   list-style: none;
   margin-top: 20px;
}
#Categoria-preguntas input{
  float: left;
  width: 30px;
}
#Categoria-preguntas button{
  height: 30px;
  width: 500px;
  margin-left: 150px;
  background-color: rgb(58, 57, 57);
  color: bisque;
}