h1{
 font-size: 40px;
 margin-top: 30px;
 margin-left: 50px;
}

.buton{
  float: right;
  margin-right: 30px;
  background-color: black;
  color: aliceblue;
  width: 130px;
  height: 50px;

}

.buton:hover{
  background-color: rgb(83, 81, 81);
}

#listaExamenes{
  margin-top: 90px;
 margin-left: 200px;
 background-color: rgb(216, 212, 208);
 width: 600px;
}

#listaExamenes ul{
  list-style-type: none;
  display: block;
}
#listaExamenes li{
  direction: initial;
   padding: 10px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}
#listaExamenes img{
  margin-left: 8px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#listaExamenes a{
  text-decoration: none;
  font-size: 25px;
  color: rgb(61, 59, 59);
}
#seleccionaForma{
  background-color: rgb(243, 248, 253);
  width: 400px;
  display: flex;
  flex-direction: initial;
  border-radius: 20px;
  display: none;
}


#seleccionaCategoria{
  background-color: rgb(130, 136, 143);
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  display: none;
}

#seleccionaCategoria ul{
  list-style-type: none;
  display: block;
}
#seleccionaCategoria li{
  direction: initial;
   padding: 10px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}

#seleccionaCategoria h4{
  text-align: center;
  font-size: 15px;
  color: azure;
}
#nPreguntas{
  background-color: rgb(130, 136, 143);
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}
#nPreguntas input{
  float: right;
  width: 50px;
  margin-left: 300px;
  
}
#nPreguntas h4{
  text-align: center;
  font-size: 25px;
  color: azure;
}
#nPreguntas h5{
  float: left;
  font-size: 20px;
  color: rgb(200, 197, 197); 
}

#listaExamenes a{
  font-size: 19px;
}

#listaExamenes  h4{
  float: right;
  color:rgb(100, 97, 97);
   font-size: 18px;
}

.Eliminar{
 padding: 5px 5px;
 float: right;
}

