html{
    box-sizing: border-box; 
    font-size: 62.5%; /*Reset para Rems 62.5% = 10px de 16px*/

}
*, *:before, *:after{
    box-sizing:inherit;
}
body{
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
    line-height: 3;
}
img{
    max-width: 100%;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3.0rem;
}
h4{
    font-size: 2.6rem;
}
.centrar-texto{
    text-align: center;   
}
.fw300{
    font-weight: 300;
}
.contenido-centrado{
    max-width: 80rem;
}

/**header**/

.contenedor{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-fondo{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /**padding-top: 3rem;**/
    background-color: #fa4252;

}
.navegacion a{
    color: #ffffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover{
    color:darkslategrey;
}
.imagenes-header{
    align-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
}


/**Imagen central**/
.imagen-fondo{
    background-image: url(../imagenes/study-hard-for-exam.png);
    background-position: center center;
    background-size: cover;
    height: 87.43vh;
    min-height: 60vh;
    margin-top: 0;
}
.texto{
    background-color: #000;
    opacity: .7;
    color: #fff;
    padding: 1.5rem 2.5rem 4.7rem 2.5rem;
    max-width: 80rem;
    line-height: 1.8;
    font-size: 2.4rem;

}
.title{
    font-size: 5rem;
    line-height: 1;
    font-style:normal;
    margin-bottom: 6rem;
    font-family:'Lato',sans-serif;

}

/*CSS del registro*/

.modelo-global{

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modelo-global2{

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.contenido-modelo2{
    width: 50rem;
    height: 40rem;
    background-color:white;
    border-radius: 1.5rem;
    text-align: center;
    padding: 2rem;
    position: relative;
}
.contenido-modelo{
    width: 50rem;
    height: 60rem;
    background-color:white;
    border-radius: 1.5rem;
    text-align: center;
    padding: 2rem;
    position: relative;
}

input, select, textarea{
    padding: 1rem; 
    display: block;
    width: 100%;
    background-color:  #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    color: darkgray; 
} 

.modelo-global input, select{
    width: 80%;
    display: block;
    margin: 1.5rem auto;

}

.cerrar{
    position: absolute;
    top: -4rem;
    right: 1.4rem;
    font-size: 4.2rem;
    transform: rotate(45deg);
    cursor: pointer;
}
.cerrar2{
    position: absolute;
    top: -4rem;
    right: 1.4rem;
    font-size: 4.2rem;
    transform: rotate(45deg);
    cursor: pointer;
}
input select, submit, textarea{
    padding: .6rem;
    width: 70%;
    background-color: #e1e1e1;
    border: none;
    border-radius: 1rem;
    color:dimgrey;

}

.button{
    color: black;
    text-decoration: none;
    
}


.btnRegistrarse{
    background-color: #fa4252;
    color: white;
    padding: 1rem;
}



/*Estilos de FAQ*/

.contenedor2{
    max-width: 100rem;
    margin: 0 auto 0 auto;

}
.margenes{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.texto-acomodo{
    flex-basis: calc(33.3% - 1.5rem);
    font-size: 1.2rem;
}
.seccionar{
    display: flex;
    justify-content: space-between;
}
.titulo{
    text-transform: uppercase;
    font-weight: 300; 
}

/*Acomoda los espacios*/
.respuesta{
    padding: .5rem 3rem .5rem 1rem;
}
#tituloFAQ{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

/*Estilos de footer*/
.footer-sitio{
    background-color: #333333;
    margin: 0;
}
.contenedor-footer{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}
.Navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.Navegacion a:hover{
    color:#fa4252;
}
.copyright{
    margin: 0;
    color: #FFFFFF;
}